{% extends 'BookaBite/base.html' %}
{% load staticfiles %}

{% block title_block %}
  About
{% endblock %}

{% block body_block %}
<section class="relative container mx-auto px-4 py-6 h-screen flex flex-col justify-center items-center">
  <h2 class="text-3xl font-bold text-center mb-4 mt-[-300px]">About Us</h2>
  <p class="text-gray-700 text-center mb-8">
    Learn more about how Book A Bite came around.
  </p>

  <div class="w-3/5 text-center">
    <p class="text-gray-700 text-lg">
      The Fusion Feast: Book A Bite website was created by 5 members of Group 7E: Ryan O'Byrne, Max Meechan, Kyle Smith, Keyaan Sadiq, and Bowen Sun. Our goal was to create an amazing website for every user to have an easy experience booking the restaurant for food, browsing the variety of the restaurant's menu, and leaving reviews on how they enjoyed their restaurant experience, all while making this user-friendly and efficiently interactive.
    </p>
  </div>


  <img class="about-image absolute top-6 left-6 w-[200px] rounded shadow transition-transform duration-300" src="/media/chef_kitchen.jpeg" alt="Chef Kitchen">
  <img class="about-image absolute top-6 right-6 w-[200px] rounded shadow transition-transform duration-300" src="/media/Restaruant.jpeg" alt="Restaurant">
  <img class="about-image absolute bottom-15 right-6 w-[200px] rounded shadow transition-transform duration-300" src="/media/Restaruant_Outside.jpeg" alt="Restaurant Outside">

</section>

<script>
  document.querySelectorAll('.about-image').forEach(img => {
    img.addEventListener('mouseenter', () => {
      img.style.transform = 'scale(1.1)';
    });

    img.addEventListener('mouseleave', () => {
      img.style.transform = 'scale(1)';
    });
  });
</script>
{% endblock %}




