{% extends 'BookaBite/base.html' %}
{% load static %}

{% block title_block %}
Add Menu
{% endblock %}

{% block body_block %}
<section class="container mx-auto px-4 py-6">
    <h1 class="text-3xl font-bold text-center mb-6">Add Menu</h1>

    <div>
        <form method="post">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <input type="submit" name="submit" value="Create Menu" />
        </form>  
    </div>

    <div class="text-center mt-6">
        <a href="{% url 'BookABite:chooseMenu' %}"
            class="inline-block px-6 py-2 border-2 border-green-500 text-green-500 font-semibold text-sm leading-tight uppercase rounded hover:bg-green-500 hover:text-white transition duration-150 ease-in-out">
            Return to menus
        </a>
    </div>
</section>
{% endblock %}
