{% extends 'BookaBite/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Login
{% endblock %}

{% block body_block %}
<section class="container mx-auto px-4 py-6 flex flex-col items-center">
  <h1 class="text-3xl font-bold text-center mb-6">This is the login page</h1>
  <div>
    <form id="login_form" method="post" action="{% url 'BookABite:login' %}">
      {% csrf_token %}
      Username: <input type="text" name="username" value="" size="50" />
      <br />
      Password: <input type="password" name="password" value="" size="50" />
      <br />
      <input type="submit" value="submit" />
    </form>
    <img class="w-[300px] rounded shadow" src="/media/Login_Image.png" alt="Login Image">
  </div>
</section>
{% endblock %}
