{% extends 'BookaBite/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Manage Review
{% endblock %}

{% block body_block %}
<section class="container mx-auto px-4 py-10">
  <h1 class="text-3xl font-bold text-center mb-6">Manage Review</h1>
  <p class="text-gray-700 text-center mb-8">Here you can manage your reviews.</p>

  <div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-4xl mx-auto">
    {% if user_reviews %}
      <ul class="space-y-6">
        {% for review in user_reviews %}
          <li class="border-b border-gray-300 pb-6">
            <div class="text-lg font-semibold text-gray-800 mb-2">{{ review.Title }}</div>
            <div class="text-sm text-gray-600 mb-2">
              <span class="font-medium">Rating:</span> {{ review.RatingNum }} 
            </div>
            <div class="text-sm text-gray-600 mb-4">
             "{{ review.ReviewText }}"
            </div>
            <div class="text-sm text-gray-600 mb-4">
               - {{ review.Username }}
            </div>

            <div class="flex space-x-4 mt-4">
              <a href="{% url 'BookABite:editReview' review.ReviewID %}" 
                 class="inline-block px-6 py-2 border-2 border-blue-500 text-blue-500 font-semibold text-sm leading-tight uppercase rounded hover:bg-blue-500 hover:text-white transition duration-150 ease-in-out">
                Edit
              </a>
              <a href="{% url 'BookABite:deleteReview' review.ReviewID %}" 
                 class="inline-block px-6 py-2 border-2 border-red-500 text-red-500 font-semibold text-sm leading-tight uppercase rounded hover:bg-red-500 hover:text-white transition duration-150 ease-in-out">
                Delete
              </a>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="text-center text-gray-600">You have no reviews to manage.</p>
    {% endif %}
  </div>

  <div class="text-center mt-6">
    <a href="{% url 'BookABite:review' %}" 
       class="inline-block px-6 py-3 border-2 border-green-500 text-green-500 font-semibold text-sm uppercase rounded-lg hover:bg-green-500 hover:text-white transition duration-150 ease-in-out">
      Return to Reviews
    </a>
  </div>
</section>
{% endblock %}

