{% extends 'BookaBite/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Menu
{% endblock %}

{% block body_block %}
    This is the menu page

    <div>
        <img style = "width: 200px;" src="/media/Burger.jpg">
    </div>

    <div>
        <img style = "width: 200px;" src="/media/Pizza.jpg">
    </div>

    <div>
        <img style = "width: 200px;" src="/media/Steak1.jpeg">
    </div>

    <div>
        <img style = "width: 200px;" src="/media/Sushi.jpg">
    </div>

    <div>
        <img style = "width: 200px;" src="/media/Tacos.jpeg">
    </div>

    <div>
        <img style = "width: 200px;" src="/media/Kids_Meal.jpg">
    </div>

    </br>
    <a href="{% url 'BookABite:chooseMenu' %}">Choose Menu</a>
{% endblock %}